<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: i === currentPage }"
        *ngIf="checkWindowsIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>
    {{ images[currentPage].title }}
  </h4>

  <img [src]="images[currentPage].url" alt="locations" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">page 1</div>
  <div *ngSwitchCase="1">page 2</div>
  <div *ngSwitchCase="2">page 3</div>
  <div *ngSwitchDefault="">Unknown page</div>
</div> -->

<div *appTimes="5">
  <h1>hello world</h1>
</div>
